# ****************************************************************************
# *                             Ignore Everything                            *
# ****************************************************************************

*

# ****************************************************************************
# *                                Allow List                                *
# ****************************************************************************

# (Start with "!")

# Directories
!fixture
!scripts

# Extensions
!*.md
!*.sh
!*.toml
!*.txt

# Files
!.gitignore
!uv.lock


# ****************************************************************************
# *                                 Deny List                                *
# ****************************************************************************

# Directories


# Extensions


# Files

