# ****************************************************************************
# *                             Ignore Everything                            *
# ****************************************************************************

*

# ****************************************************************************
# *                                Allow List                                *
# ****************************************************************************

# (Start with "!")

# Directories
!scripts
!fixture

# Extensions
!*.sh
!*.md
!*.txt

# Files
!.gitignore


# ****************************************************************************
# *                                 Deny List                                *
# ****************************************************************************

# Directories


# Extensions


# Files

